{# 
 # Template de la page d'accueil
 #
 # Affiche :
 # - Une image de fond représentant une agora grecque
 # - Un message de bienvenue personnalisé avec le nom de l'utilisateur
 #
 # Hérite du template de base qui fournit la structure commune
 #}
{% extends "base.html.twig" %}

{# Bloc principal du contenu #}
{% block central %}
    <div class="container">
        <div id="blocImage">
            {# Image principale de l'agora #}
            <img src="{{ asset('assets/img/greece-3348294_1280.jpg') }}" 
                 alt="Agora grecque antique" 
                 class="responsive">

            {# Message de bienvenue personnalisé #}
            <div id="blocImageTexte">
                Bonjour {% if app.user %}{{ app.user.prenomMembre }} {{ app.user.nomMembre }}{% elseif app.session.get('prenomUtilisateur') %}{{ app.session.get('prenomUtilisateur') }} {{ app.session.get('nomUtilisateur') }}{% else %}Utilisateur{% endif %}
            </div>
        </div>
    </div>
{% endblock %}