<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="sio">
		<meta name="keyword" content="MJC, Agora">
		<title>AgorA - Administration</title>
		{% block stylesheets %}
			<!-- Bootstrap core CSS -->
			<!--la fonction asset permet de faire le lien avec les ressources -->
			<link
			href="{{ asset('assets/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/> <!--external css-->
			<link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
			<link
			href="{{ asset('assets/lib/fullcalendar/bootstrap-fullcalendar.css') }}" rel="stylesheet"/>
			<!--external css pour les dates dans la gestion des tournois-->
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/lib/bootstrap- fileupload/bootstrap-fileupload.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/lib/bootstrap- datepicker/css/datepicker.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/lib/bootstrap- datepicker/css/datepicker.css')}}"/>
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/lib/bootstrap- timepicker/compiled/timepicker.css') }}"/>
			<link
			rel="stylesheet" type="text/css" href="{{ asset('assets/lib/bootstrap- datetimepicker/css/datetimepicker.css') }}"/>
			<!-- Custom styles for this template -->
			<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
			<link
			href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet">
			<!-- Style pour agora -->
			<link href="{{ asset('assets/css/styleAgora.css') }}" rel="stylesheet">
		{% endblock %}
		<!-- =======================================================
														Template Name: Dashio
														Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
														Author: TemplateMag.com
														License: https://templatemag.com/license/
														======================================================= -->
	</head>
	<body>
		<section id="container">
			<!--
																					**************************************************************************************
																					********************************************************************
																					TOP BAR CONTENT & NOTIFICATIONS
																					**************************************************************************************
																					********************************************************************* -->
			<!--header start-->
				<header class="header black-bg"> <div class="sidebar-toggle-box">
					<div class="fa fa-bars tooltips" data-placement="right" data-original- title="Toggle Navigation"></div>
				</div>
				<!--logo start-->
				<a href="index.php" class="logo">
					<b>Ago<span>rA</span>
					</b>
				</a>
				<!--logo end-->
				<ul class="nav pull-right top-menu">
					{# app.session.has() nouvelle syntaxe pour tester si une variable de session existe #}
					{# app.session.get() nouvelle syntaxe pour récupérer la valeur d'une variable de session #}
						{% if (app.session.has('idUtilisateur') ) %}
							<a href="" class="userAgo"> {{ app.session.get('prenomUtilisateur') }}
							{{ app.session.get('nomUtilisateur') }}</a>
						<li>
							<a class="logout" href="{{ path('deconnexion') }}">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a class="logout" href="{{ path('accueil') }}">Se connecter</a>
						</li>
					{% endif %}
				</ul>
			</header>
			<!--header end-->
			<!-- **************************************************************************************
																 ********************************************************************
																 MAIN SIDEBAR MENU
																 **************************************************************************************
																 ********************************************************************* -->
			{% block menu %}
				{% if (app.session.has('idUtilisateur') ) %}
					{{ include('menu.html.twig') }}
				{% endif %}
			{% endblock %}
			<!--
																					**************************************************************************************
																					********************************************************************
																					MAIN CONTENT
																					**************************************************************************************
																					********************************************************************* -->
			<section id="main-content">
				<section class="wrapper"> {% block central %}{% endblock %}
					</section>
				</section>
				<!-- /MAIN CONTENT -->
				<!--main content end-->
			</section>
			<!-- js placed at the end of the document so the pages load faster -->
			<script src="{{ asset('assets/lib/jquery/jquery.min.js') }}"></script>
			<!-- pour
																					dérouler menu -->
			<script src="{{ asset('assets/lib/bootstrap/js/bootstrap.min.js') }}"></script>
			<script class="include" type="text/javascript" src="{{ asset('assets/lib/jquery.dcjqaccordion.2.7.js') }}"></script>
			<!-- pour dérouler menu
																					-->
			<script src="{{ asset('assets/lib/jquery.scrollTo.min.js') }}"></script>
			<!-- pour
																					dérouler menu -->
			<!--common script for all pages-->
			<script src="{{ asset('assets/lib/common-scripts.js') }}"></script>
			<!--script pour le calendrier-->
			<script src="{{ asset('assets/lib/jquery-ui-1.9.2.custom.min.js') }}"></script>
			<script src="{{ asset('assets/lib/fullcalendar/fullcalendar.min.js') }}"></script>
			<script src="{{ asset('assets/lib/calendar-conf-events.js') }}"></script>
			<!-- pour la connexion -->
			<script src="{{ asset('assets/libAgora/sha512.js') }}"></script>
		</body>
	</html>

	<!--
						**************************************************************************************
						********************************************************************
						MAIN SIDEBAR MENU
						**************************************************************************************
						********************************************************************* -->
	<!--sidebar start-->
	<aside>
		<div
			id="sidebar" class="nav-collapse">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu" id="nav-accordion">
				<p class="centered">
					<a href="profile.html"><img src="{{ asset('assets/img/greece-1162816_640.jpg') }}" class="img-circle" width="80"></a>
				</p>
				<h5 class="centered">MJC Agora</h5>
				<li class="sub-menu">
					<a {% if menuActif is defined and menuActif == 'Jeux' %} class="active" {% endif %} href="index.php">
						<i class="fa fa-desktop"></i>
						<span>Jeux vidéos</span>
					</a>
					<ul class="sub">
						<li>
							<a href="{{path('app_jeux_index')}}">Jeux</a>
						</li>
						<li>
							<a href="{{path('app_genre_index')}}">Genres</a>
						</li>
						<li>
							<a href="{{path('app_plateforme_index')}}">Plateformes</a>
						</li>
						<li>
							<a href="{{path('app_marque_index')}}">Marques</a>
						</li>
						<li>
							<a href="{{path('app_pegi_index')}}">Pegi</a>
						</li>
					</ul>
				</li>
				<li class="sub-menu">
					<a {% if menuActif is defined and menuActif == 'Tournois' %} class="active" {% endif %} href="javascript:;">
						<i class="fa fa-group"></i>
						<span>Tournois</span>
					</a>
					<ul class="sub">
						<li>
							<a href="{{path('app_tournoi_index')}}">Tournois</a>
						</li>
						<li>
							<a href="{{path('app_cat_tournois_index')}}">Catégorie de tournois</a>
						</li>
						<li>
							<a href="{{path('app_participant_index')}}">Participants</a>
						</li>
					</ul>
				</li>
				<li class="sub-menu">
					<a {% if menuActif is defined and menuActif == 'Formations' %} class="active" {% endif %} href="javascript:;">
						<i class="fa fa-th"></i>
						<span>Formations</span>
					</a>
					<ul class="sub">
						<li>
							<a href="{{path('accueil')}}">sous-menu 1</a>
						</li>
						<li>
							<a href="{{path('accueil')}}">sous-menu 2</a>
						</li>
						<li>
							<a href="{{path('accueil')}}">sous-menu 3</a>
						</li>
						<li>
							<a href="{{path('accueil')}}">sous-menu 4</a>
						</li>
						<li>
							<a href="{{path('accueil')}}">sous-menu 5</a>
						</li>
					</ul>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="sub-menu">
						<a {% if menuActif is defined and menuActif == 'Membres' %} class="active" {% endif %} href="javascript:;">
							<i class="fa fa-user-md"></i>
							<span>Membres</span>
						</a>
						<ul class="sub">
							<li>
								<a href="{{path('app_membre_index')}}">Membres</a>
							</li>
						{% endif %}
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a {% if menuActif is defined and menuActif == 'Intervenants' %} class="active" {% endif %} href="javascript:;">
					<i class="fa fa-smile-o"></i>
					<span>Intervenants</span>
				</a>
				<ul class="sub">
					<li>
						<a href="{{path('accueil')}}">sous-menu 1</a>
					</li>
					<li>
						<a href="{{path('accueil')}}">sous-menu 2</a>
					</li>
					<li>
						<a href="{{path('accueil')}}">sous-menu 3</a>
					</li>
					<li>
						<a href="{{path('accueil')}}">sous-menu 4</a>
					</li>
					<li>
						<a href="{{path('accueil')}}">sous-menu 5</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
<!--sidebar end-->
{# {% endblock %}#}

