 <!--
**************************************************************************************
********************************************************************
 MAIN SIDEBAR MENU
 
**************************************************************************************
********************************************************************* -->
 <!--sidebar start-->
 <aside>
 <div id="sidebar" class="nav-collapse ">
 <!-- sidebar menu start-->
 <ul class="sidebar-menu" id="nav-accordion">
 <p class="centered"><a href="profile.html"><img src="{{ 
asset('assets/img/greece-1162816_640.jpg') }}" class="img-circle" width="80"></a></p>
 <h5 class="centered">MJC Agora</h5>
 <li class="sub-menu">
 <a
 {% if menuActif is defined and menuActif == 'Jeux' %} class="active" {% 
endif %}
 href="index.php" ><i class="fa fa-desktop"></i>
  <span>Jeux vidéos</span>
 </a>
 <ul class="sub">
 <li><a href="{{ path('app_jeux_index') }}">Jeux</a></li>
 <li><a href="{{ path('app_genre_index') }}">Genres</a></li>
 <li><a href="{{ path('app_plateforme_index') }}">Plateformes</a></li>
 <li><a href="{{ path('app_marque_index') }}">Marques</a></li>
 <li><a href="{{ path('app_pegi_index') }}">PEGI</a></li>
 </ul>
 </li>

 <li class="sub-menu">
 <a
 {% if menuActif is defined and menuActif == 'Tournois' %} class="active" {% endif %}
 href="javascript:;" ><i class="fa fa-users"></i>
  <span>Tournois</span>
 </a>
 <ul class="sub">
 <li><a href="{{ path('app_tournoi_index') }}">Tournois</a></li>
 <li><a href="{{ path('app_cat_tournois_index') }}">Catégorie de tournois</a></li>
 <li><a href="{{ path('app_participant_index') }}">Participants</a></li>
 <li><a href="{{ path('app_stat_sql_tournoi') }}">Dashboard tournois (SQL)</a></li>
 <li><a href="{{ path('app_stat_dql_tournoi') }}">Dashboard tournois (DQL)</a></li>
 <li><a href="{{ path('app_stat_qb_tournoi') }}">Dashboard tournois (QB)</a></li>
 <li><a href="{{ path('app_stat_tournoi_index') }}">Dashboard tournois chart.js</a></li>
 </ul>
 </li>

 {% if is_granted('ROLE_ADMIN') %}
 <li class="sub-menu">
 <a
 {% if menuActif is defined and menuActif == 'Membres' %} class="active" 
{% endif %}
 href="javascript:;">
 <i class="fa fa-user-md"></i>
 <span>Membres</span>
 </a>
 <ul class="sub">
 <li><a href="{{path('app_membre_index')}}">Membres</a></li>
 </ul>
 <ul class="sub">
<li><a href="{{path('app_login_trace_index')}}">Historique des connexions</a></li>
</ul>
 </li>
 {% endif %}


 <li class="sub-menu">
 <a
 
 <!-- sidebar menu end-->
 </div>
 </aside>
 <!--sidebar end-->
{# {% endblock %}#}
