{# 
 # Template du menu principal de l'application Agora
 #
 # Ce template définit la structure de la barre latérale (sidebar)
 # qui contient les liens de navigation principaux de l'application.
 #
 # Sections du menu :
 # - Jeux vidéos (gestion complète)
 # - Clubs d'activités
 # - Formations
 # - Membres
 # - Intervenants
 #}

{# Début de la barre latérale #}
<aside>
    <div id="sidebar" class="nav-collapse">
        {# Menu principal #}
        <ul class="sidebar-menu" id="nav-accordion">
            {# Logo et titre #}
            <p class="centered">
                <a href="profile.html">
                    <img src="{{ asset('assets/img/greece-1162816_640.jpg') }}"
                         class="img-circle" 
                         width="80" 
                         alt="Logo MJC Agora">
                </a>
            </p>
            <h5 class="centered">MJC Agora</h5>
            {# Section Jeux vidéos #}
            <li class="sub-menu">
                {# Lien principal avec état actif conditionnel #}
                <a {% if menuActif is defined and menuActif == 'Jeux' %}class="active"{% endif %}
                   href="index.php">
                    <i class="fa fa-desktop"></i>
                    <span>Jeux vidéos</span>
                </a>

                {# Sous-menu des fonctionnalités jeux #}
                <ul class="sub">
                    {# Gestion des jeux #}
                    <li>
                        <a href="{{ path('app_jeu_video_index') }}">Jeux</a>
                    </li>
                    {# Gestion des genres #}
                    <li>
                        <a href="{{ path('app_genre_index') }}">Genres</a>
                    </li>
                    {# Gestion des plateformes #}
                    <li>
                        <a href="{{ path('app_plateforme_index') }}">Plateformes</a>
                    </li>
                    {# Gestion des marques #}
                    <li>
                        <a href="{{ path('app_marque_index') }}">Marques</a>
                    </li>
                    {# Gestion des classifications PEGI #}
                    <li>
                        <a href="{{ path('app_pegi_index') }}">Pegi</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a {% if menuActif is defined and menuActif == 'Tournois' %}class="active"{% endif %}
                   href="javascript:;">
                    <i class="fa-solid fa-trophy"></i>
                    <span>Tournois</span>
                </a>
                {# Sous-menu des clubs - À implémenter #}
                <ul class="sub">
                    {# Gestion des tournois #}
                    <li>
                        <a href="{{ path('app_tournoi_index') }}">Tournois</a>
                    </li>
                    <li>
                        <a href="{{ path('app_participant_index') }}">Participants</a>
                    </li>
                    <li>
                        <a href="{{ path('app_cat_tournois_index') }}">Catégorie de tournois</a>
                    </li>
                </ul>
            </li>
            {# Section Clubs d'activités #}
            <li class="sub-menu">
                <a {% if menuActif is defined and menuActif == 'Clubs' %}class="active"{% endif %}
                   href="javascript:;">
                    <i class="fa fa-group"></i>
                    <span>Clubs d'activités</span>
                </a>
                {# Sous-menu des clubs - À implémenter #}
                <ul class="sub">
                    <li><a href="index.php">sous-menu 1</a></li>
                    <li><a href="index.php">sous-menu 2</a></li>
                    <li><a href="index.php">sous-menu 3</a></li>
                    <li><a href="index.php">sous-menu 4</a></li>
                    <li><a href="index.php">sous-menu 5</a></li>
                </ul>
            </li>

            {# Section Formations #}
            <li class="sub-menu">
                <a {% if menuActif is defined and menuActif == 'Formations' %}class="active"{% endif %}
                   href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Formations</span>
                </a>
                {# Sous-menu des formations - À implémenter #}
                <ul class="sub">
                    <li><a href="index.php">sous-menu 1</a></li>
                    <li><a href="index.php">sous-menu 2</a></li>
                    <li><a href="index.php">sous-menu 3</a></li>
                    <li><a href="index.php">sous-menu 4</a></li>
                    <li><a href="index.php">sous-menu 5</a></li>
                </ul>
            </li>

            {# Section Membres #}
            <li class="sub-menu">
                <a {% if menuActif is defined and menuActif == 'Membres' %}class="active"{% endif %}
                   href="javascript:;">
                    <i class="fa fa-user-md"></i>
                    <span>Membres</span>
                </a>
                {# Sous-menu des membres - À implémenter #}
                <ul class="sub">
                    <li><a href="index.php">sous-menu 1</a></li>
                    <li><a href="index.php">sous-menu 2</a></li>
                    <li><a href="index.php">sous-menu 3</a></li>
                    <li><a href="index.php">sous-menu 4</a></li>
                    <li><a href="index.php">sous-menu 5</a></li>
                </ul>
            </li>

            {# Section Intervenants #}
            <li class="sub-menu">
                <a {% if menuActif is defined and menuActif == 'Intervenants' %}class="active"{% endif %}
                   href="javascript:;">
                    <i class="fa fa-smile-o"></i>
                    <span>Intervenants</span>
                </a>
                {# Sous-menu des intervenants - À implémenter #}
                <ul class="sub">
                    <li><a href="index.php">sous-menu 1</a></li>
                    <li><a href="index.php">sous-menu 2</a></li>
                    <li><a href="index.php">sous-menu 3</a></li>
                    <li><a href="index.php">sous-menu 4</a></li>
                    <li><a href="index.php">sous-menu 5</a></li>
                </ul>
            </li>
        </ul>{# Fin du menu principal #}
    </div>{# Fin du conteneur sidebar #}
</aside>{# Fin de la barre latérale #}