{% extends 'base.html.twig' %}

{% block title %}Reconnaissance
{% endblock %}

{% block body %}
	<h1>Reconnaissance</h1>

	{# Affiche toutes les reconnaissances #}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Niveau</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reconnaissance in reconnaissances %}
				<tr>
					<td>{{ reconnaissance.id }}</td>
					<td>{{ reconnaissance.Nom }}</td>
					<td>{{ reconnaissance.Niveau }}</td>
					<td>
						<a href="{{ path('app_reconnaissance_show', {'id': reconnaissance.id}) }}">show</a>
						<a href="{{ path('app_reconnaissance_edit', {'id': reconnaissance.id}) }}">edit</a>
						{{ include('reconnaissance/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_reconnaissance_new') }}">Create new</a>
{% endblock %}
